<div>
      <table class="layout-container">

        <tr class="layout-row">
            <td class="layout-cell centered-text" colspan="20">
                <h1>
                    Welcome to Odyssey!
                </h1>
                <h5>
                    A tool that helps you explore the world's journeys
                </h5>
            </td>
        </tr>

        <tr class="layout-row">
            <td class="layout-cell" colspan="20" valign="top">
            
            </td>

            <td class="layout-cell" colspan="0">

            </td>
        </tr>
    </table>















  <div>
    <a href="/places">Discover</a>
  </div>

  <div>
    <a href="/restaurants">Dine</a>
  </div>

  <div>
    <a href="/hotels">Dream</a>
  </div>
</div>
