<div>
      <table class="layout-container">

        <tr class="layout-row">
            <td class="layout-cell centered-text">
                <br><br><br>
                <h1 align="center">
                    <font color="white">Welcome to Odyssey!</font>
                </h1>
                <h5 align="center">
                    <font color="white">A tool that helps you explore the world's journeys</font>
                </h5>
            </td>
        </tr>

        <tr class="layout-row">
            
            
            <body background="https://images.pexels.com/photos/314380/pexels-photo-314380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" bgproperties="fixed"> 
            <td class="layout-cell" colspan="20" valign="top">
            
            </td>

            <td class="layout-cell" colspan="0">

            </td>
        </tr>
    </table>
</div>
