<h1>
  Add a new planned meal
</h1>


<hr>

<form action="/create_planned_meal" method="post">

  <div class="form-group">
    <label for="rest_id">
      Rest
    </label>

    <input type="text" id="rest_id" name="rest_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="day_id">
      Day
    </label>

    <input type="text" id="day_id" name="day_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="order_in_day">
      Order in day
    </label>

    <input type="text" id="order_in_day" name="order_in_day" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create planned meal
  </button>
</form>

<hr>

<a href="/planned_meals">
  Go back
</a>
