<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Explore restaurants
    </h1>

    <form action="/restaurants/results.html">
      <div class="form-group">
          <label for="location">Where are you going?</label>
          <input type="text"  class="form-control" placeholder="Ex: Chicago, Honolulu, San Francisco" value="<%= @location %>" name="location" id="location">
        <br>
          <label for="term">Which meal are you looking for?</label>
            <select class="form-control" id="term" name="term">
              <option>Breakfast</option>
              <option>Lunch</option>
              <option>Dinner</option>
            </select>
        <input type="hidden" name="itinerary_id" value="<%= @current_itinerary_id %>">
      </div>
  </div>

      <button class="btn btn-primary btn-block">
        Find some restaurants!
      </button>
    </form>
    

  </div>
</div>


<hr>
