<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Explore places
    </h1>

  <form action="/places/results.html">
      <div class="form-group">
          <label for="location">Where are you going?</label>
          <input type="text"  class="form-control" placeholder="Ex: Chicago, Honolulu, San Francisco" value="<%= @location %>" name="location" id="location">
        <br>
          <label for="term">What type of activity do you want to do?</label>
            <select class="form-control" id="term" name="term">
              <option>Active Life</option>
              <option>Arts & Entertainment</option>
              <option>Beauty & Spas</option>
              <option>Campgrounds</option>
              <option>Tours</option>
              <option>Nightlife</option>
              <option>Dance Clubs</option>
              <option>Shopping</option>
            </select>
        <input type="hidden" name="itinerary_id" value="<%= @current_itinerary_id %>">
      </div>
    </div>
  
      <button class="btn btn-primary btn-block">
        Find some places to go!
      </button>
    </form>
</div>

<hr>