<h1>
  Add a new hotel
</h1>


<hr>

<form action="/create_hotel" method="post">

  <div class="form-group">
    <label for="hotel_name">
      Hotel name
    </label>

    <input type="text" id="hotel_name" name="hotel_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="hotel_address">
      Hotel address
    </label>

    <input type="text" id="hotel_address" name="hotel_address" class="form-control">
  </div>

  <div class="form-group">
    <label for="hotel_rating">
      Hotel rating
    </label>

    <input type="text" id="hotel_rating" name="hotel_rating" class="form-control">
  </div>

  <div class="form-group">
    <label for="hotel_link">
      Hotel link
    </label>

    <input type="text" id="hotel_link" name="hotel_link" class="form-control">
  </div>

  <div class="form-group">
    <label for="hotel_pic">
      Hotel pic
    </label>

    <input type="text" id="hotel_pic" name="hotel_pic" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create hotel
  </button>
</form>

<hr>

<a href="/hotels">
  Go back
</a>
