<h1>
  Edit day #<%= @day.id %>
</h1>

<hr>

<form action="/update_day/<%= @day.id %>" method="post">

  <div class="form-group">
    <label for="itinerary_id">
      Itinerary
    </label>

    <input type="text" id="itinerary_id" name="itinerary_id" class="form-control" value="<%= @day.itinerary_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update day
  </button>
</form>

<hr>

<a href="/days">
  Go back
</a>
