<h1>
  Add a new day
</h1>


<hr>

<form action="/create_day" method="post">

  <div class="form-group">
    <label for="itinerary_id">
      Itinerary
    </label>

    <input type="text" id="itinerary_id" name="itinerary_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create day
  </button>
</form>

<hr>

<a href="/days">
  Go back
</a>
