<h1>
  Create a new itinerary
</h1>


<hr>

<form action="/create_itinerary" method="post">
  
  <div class="form-group">
    <input type="hidden" name="user_id" value="<%= current_user.id%>">
  </div>

  <!--Add basic itinerary info-->
  <div class="form-group">
    <label for="name_of_trip">
      Name of trip
    </label>
    <input type="text" id="name_of_trip" name="name_of_trip" class="form-control">
  </div>
  
  <div class="form-group">
    <label for ="location_of_trip">
      Where are we going?
    </label>
    <input type="text" id="location_of_trip" name="location_of_trip" class="form-control">
  </div>
  
  <div class="form-group">
    <label for ="days_in_trip">
      Number of days
    </label>
    <input type="integer" id="days_in_trip" name="days_in_trip" class="form-control">
  </div>

  
  <button class="btn btn-block btn-outline-secondary">
    Create itinerary
  </button>
</form>





<hr>

<a href="/itineraries">
  Go back
</a>
