<!-- Validation failure messages -->
<% if @itinerary.present? %>
  <% if @itinerary.errors.any? %>
    <% @itinerary.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new itinerary
</h1>


<hr>

<form action="/create_itinerary" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @itinerary.user_id %>">
  </div>

  <div class="form-group">
    <label for="name_of_trip">
      Name of trip
    </label>

    <input type="text" id="name_of_trip" name="name_of_trip" class="form-control" value="<%= @itinerary.name_of_trip %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create itinerary
  </button>
</form>

<hr>

<a href="/itineraries">
  Go back
</a>
